.container {
    background-image: linear-gradient(to top, #000000, #1515156e), url("../../../public/background.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    font-family: 'Space Grotesk', sans-serif;
    padding-bottom: 100px;
    padding-left: 18%;
    padding-right: 18%;
}

.titleSection {
    width: 80%;
    align-items: center;
    padding-top: 50px;
}

.title {
    padding-top: 50px;
    font-size: 65px;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subTitle {
    padding-top: 20px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.644);
}

.button {
    margin-top: 40px;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 25px;
    background-color: transparent;
    border: none;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        border: solid 1px;
    }
}

@media(max-width:1024px) {
    .container {
        background-image: linear-gradient(to top, #0000009d, #15151550), url("../../../public/background.jpg");
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 60px;
    }

    .titleSection {
        width: 100%;
        align-items: center;
        padding-top: 40px;
    }

    .title {
        font-size: 55px;
    }

    .subTitle {
        font-size: 20px;
    }

    .button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
}

@media(max-width:630px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40px;
    }

    .titleSection {
        width: 100%;
        align-items: center;
        padding-top: 30px;
    }

    .title {
        font-size: 45px;
    }

    .subTitle {
        font-size: 16px;
    }

    .button {
        width: 120px;
        height: 35px;
        font-size: 16px; 
    }
}
@media(max-width:375px) {
    .titleSection {
        padding-top: 15px;
    }
    .title {
        font-size: 39px;
    }
}