.card{
    font-family: 'Space Grotesk', sans-serif;
    width: 150px ;
    height: 120px;
}
.date{
    font-size: 24px;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.644);
}