.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
    padding-left: 18%;
    padding-right: 18%;
}

.title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.boxCards{
    padding-bottom: 50px;
    padding-top: 50px; 
}
@media(max-width:1024px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .title {
        font-size: 55px;
    }
}

@media(max-width:630px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .title {
        font-size: 45px;
    }
}

@media(max-width:375px) {
    .title {
        font-size: 39px;
    }
}
