.container{
    padding-left: 18%;
    padding-right: 18%;
}
.title{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.subTitle{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}
.techBox{
    display: flex;
    justify-content: space-around;
    margin-top:60px;

}
.techCards{ 
    
    width: 120px;
}
.titleCard{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    line-height: 50px;
}
.subTitleCard{
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5)
}